<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Frijole|Montserrat&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style_devices.css">
    <title>Devices</title>
</head>
<body>
    <section class="header">
        <a href="/profile"><i class="material-icons">arrow_back</i> Back to Profile</a>
        <h1><img src="img/main_logo.png" alt="Plant Genesis"> Plant Genesis</h1>   
     </section>
   
    <h2 class = "devices-header"> Device Manager</h2>

    <section>
        <form action="/devices" method="POST">
            <h2>Add Device</h2>
            <label for="device-name">Device Name:</label>
            <input type="text" name ='device_name' placeholder="e.g Living Room, Bedroom">
            <label for="device-id">Device ID:</label>
            <input type="text" name ='device_id' placeholder="e.g 1btf34hd">
            <button>Add</button> 
        </form>
    </section>
    <section class = "container-main">
       
        <section class="container1"> 
         <h2>Paired Devices</h2>
        <ul>
            <% for(var i=0; i < data.length; i++) {%>
                <% if (user.local.email === data[i].usr){ %>
            <li>
                <span><%= data[i].device_name %></span>
                <span class="hide"><%= data[i].usr %></span>
                <span class="hide"><%= data[i].device_id %></span>
                <span class ="dot"></span>
                <span class ="trash-btn"><i class="material-icons">delete</i></span>
            </li>
            <% } %>
         <% } %>
        </ul>
    </section>
    </section>
    <footer>
        <span>Copyright © 2020  <span>Plant Genesis</span></span>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main_devices.js"></script>
</body>
</html>