<!doctype html>
<html>
<head>
    <title>Plant Genesis</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
       <h1> <img src="img/main_logo.png" alt="Plant Genesis"> Plant Genesis</h1>
    </section>
<div class="container">

    <div class=" container-custom text-center">
        
        <p>Monitor your plant's health</p>
        <p><span>Are you a bad plant parent?</span>  Then let Plant Genesis do it for you. Track your plant's enviroment and never miss watering them again.   </p>

    </div>


    <div class="container-custom signup text-center">
        <img class ="plantImg" src="img/wateringplant.png" alt="Watering Plant">
        <p class="signinQuote">Get a device and start today!</p>
        <a href="/login" >Login</a>
        <a href="/signup" >Signup</a>

    </div>
</div>
</body>
</html>
