<!doctype html>
<html>
<head>
    <title>Plant Genesis</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Frijole&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style_signup.css">
</head>
<body>
    <section class="header">
        <h1> <img src="img/main_logo.png" alt="Plant Genesis"> Plant Genesis</h1>
     </section>
<div class="container jumbotron">
    <div class="login100-form-title">
        <!-- <span class="login100-form-title-1">
            Sign In
        </span> -->
        <h3>Sign Up</h3>
    </div>
    <section class= "input-contain">
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</section>
</div>
</body>
</html>
