*{
    box-sizing: border-box;
    /* border: 1px solid blue; */

}
html{
    font-size: 10px;
}
body{
 background-color: rgb(172, 220, 226);
}
h1{
    display: inline-block;
    margin-left: 33%;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    

}
h2{
    display: inline-block;
    margin-bottom: 50px;
    font-family: 'Montserrat', bold;
    font-size: 4rem;
    margin-left: 38%;
}
h1 + a{
    float: right;
    margin-right: 2%;
    text-decoration: none;
    position: relative;
    top: 5px;
}
img{
    height: 25px;
    width: 25px;
    position: relative;
    bottom: -3px;
  
}
a{
    float: right;
    margin-right: 2%;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-family: 'Montserrat', bold;
}

section.container3 span{
    display: block;
    height: 40px;
    width: auto;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2%;
    background-color: rgb(128, 0, 128, 0.6);
    border-radius: 10px;
    text-align: center;
    padding-top: 11px;
    margin-bottom: 30px;
    color: white;
}

.header span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 6px;
}

.header span span{
    margin-left: .2%;
    color: white;
    position: relative;
    bottom: 0px;
}

.container1{
    height: 80px;
    width: 100%;

}

.data-container{
    height: 275px;
    width: 275px;
    margin-left: 17%;
    border: 2px solid black;
    margin-top: 20px ;
    margin-bottom: 20px;
    float: left;
    background-color: rgb(48, 47, 47) ; 
    border-radius: 50%;
    border: 1px solid grey;
}

.data-container span{
    display: block;
    border-radius: 50%; 
    color: white;
}

.data-container span:nth-child(1){
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.data-container span:nth-child(2){
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    color: red;
    text-align: center;
    padding-top: 60px;
    font-size: 6.5rem;
    background-color: rgb(230, 230, 230);
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
}
.data-container span:nth-child(n+3){
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 5%;
}



.container3{
    clear: both;
    width: auto;
    margin-top: 50px;
    margin-left: 5% ;
    margin-right: 5% ;
}

.tile li{
    display: inline;
    font-size: 5rem

}
.tile li span{
    border: 1px solid black;
}
.hide{
    display: none;
}

.container2{
    height: 315px;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(58, 58, 128, 0.9);
    border-radius: 10px;
    border-top: 2px solid rgb(108, 109, 109) ;
    border-bottom: 2px solid rgb(108, 109, 109) ;

}
.dataLabels{
    color: red;
    font-size: 2.5rem;
    margin: 0;

}
.header{
    background-color: rgba(58, 58, 128, 0.9);
    height: 50px;
    width: auto;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(85, 85, 85);
  
  }
canvas{
    margin-bottom: 40px;
}
/* .chartjs-render-monitor {
    font-family: 'Montserrat', sans-serif;
    color: red;   
} */
footer{
    text-align: center;
    height: 50px;
    width: auto;
    background-color: rgba(58, 58, 128, 0.9);
    color: white;
    padding-top: 20px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}


/* @media screen and (max-width: 1100px){
    .container2{
        height: 630px;
        

    }
} */