*{
  box-sizing: border-box;
  /* border: 1px solid blue; */
}
html{
  font-size: 10px;
}
body{
  word-wrap:break-word;
  background-image: linear-gradient(rgba(143, 141, 141, 0.2), rgba(143, 141, 141, 0.2)), url(img/logo_bg.jpg);

}
.header{
  background-color: rgba(58, 58, 128, 0.9);
  height: 50px;
  width: auto;
  margin-bottom: 100px;
  border-bottom: 2px solid rgb(85, 85, 85);

}
h1{
  display: inline-block;
  margin-left: 43%;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 7px;
 
}
img{
  height: 25px;
  width: 25px;
  position: relative;
  bottom: 5px;


}


h2{
  font-size: 2rem;
  color: rgb(101,67,33)
}
label{

  margin-right: 5%;
  font-weight: 400;
  padding: 0px;
  font-size: 20px;
  color: #808080;
  line-height: 1.2;
  text-align: right;
  /* position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;  */
}

.form-control{

touch-action: manipulation;
margin: 0;
overflow: visible;
outline: none;
border: none;
border-bottom: 2px solid rgb(184, 181, 181);
font-size: 15px;
color: #555555;
line-height: 1.2;
display: inline;
width: 75%;
background: transparent;
padding: 0 5px;
height: 45px;
}

h3{
  
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3rem;
  color:rgb(255, 255, 255);

}

.btn-warning {
  touch-action: manipulation;
  margin: 0;
  overflow: visible;
  text-transform: none;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
  cursor: pointer;
  background-color: #333333;
  margin: auto;
}




.jumbotron{

  /* background-color: rgb(116, 192, 202);
  border: 2px solid rgb(113, 142, 3);
  border-radius: 20px; */

  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;


}
.container .jumbotron {
  border-radius: 20px;
  padding-left: 0;
}


.login100-form-title{
  margin: 0px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 0%;
  padding: 70px 15px 74px 15px;
  /* background-color:rgb(18, 18, 78,.5); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/login_overlay.jpg);

  
}
.input-contain{
  padding: 10px 8% 10px 8%;
}

div.jumbotron {
border: 1px solid rgb(138, 138, 138);
padding-left: 0;
padding-right: 0;

}
.email-margin{
  margin-right: 11%;
}






@media screen and (min-width: 768px){

.jumbotron {
    padding-top: 0px;
    padding-bottom: 48px;
}

}